/.vscode

wav_backup/3-1.mp3
wav_backup/3-1.wav
wav_backup/3-2.mp3
wav_backup/3-2.wav
wav_backup/3-3.mp3
wav_backup/3-3.wav
wav_backup/3-4.mp3
wav_backup/3-4.wav
wav_backup/3-5.mp3
wav_backup/3-5.wav
wav_backup/3-6.mp3
wav_backup/3-6.wav
wav_backup/3-7.mp3
wav_backup/3-7.wav
wav_backup/4-1.5.mp3
wav_backup/4-1.5.wav
wav_backup/4-1.mp3
wav_backup/4-1.wav
wav_backup/4-2.5.mp3
wav_backup/4-2.5.wav
wav_backup/4-2.mp3
wav_backup/4-2.wav
wav_backup/4-3.mp3
wav_backup/4-3.wav
wav_backup/4-4.5.mp3
wav_backup/4-4.5.wav
wav_backup/4-4.mp3
wav_backup/4-4.wav
wav_backup/4-5.5.mp3
wav_backup/4-5.5.wav
wav_backup/4-5.mp3
wav_backup/4-5.wav
wav_backup/4-6.mp3
wav_backup/4-6.wav
wav_backup/4-7.mp3
wav_backup/4-7.wav
wav_backup/5-1.5.mp3
wav_backup/5-1.5.wav
wav_backup/5-1.mp3
wav_backup/5-1.wav
wav_backup/5-2.5.mp3
wav_backup/5-2.5.wav
wav_backup/5-2.mp3
wav_backup/5-2.wav
wav_backup/5-3.mp3
wav_backup/5-3.wav
wav_backup/5-4.5.mp3
wav_backup/5-4.5.wav
wav_backup/5-4.mp3
wav_backup/5-4.wav
wav_backup/5-5.5.mp3
wav_backup/5-5.5.wav
wav_backup/5-5.mp3
wav_backup/5-5.wav
wav_backup/5-6.mp3
wav_backup/5-6.wav
wav_backup/5-7.mp3
wav_backup/5-7.wav
wav_backup/6-1.5.mp3
wav_backup/6-1.5.wav
wav_backup/6-1.mp3
wav_backup/6-1.wav
wav_backup/6-2.5.mp3
wav_backup/6-2.5.wav
wav_backup/6-2.mp3
wav_backup/6-2.wav
wav_backup/6-3.mp3
wav_backup/6-3.wav
wav_backup/6-4.5.mp3
wav_backup/6-4.5.wav
wav_backup/6-4.mp3
wav_backup/6-4.wav
wav_backup/6-5.5.mp3
wav_backup/6-5.5.wav
wav_backup/6-5.mp3
wav_backup/6-5.wav
wav_backup/6-6.mp3
wav_backup/6-6.wav
wav_backup/6-7.mp3
wav_backup/6-7.wav
wav_backup/wav_to mp3.bat
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
